.book-search {
    border: 1px solid #000;
    padding: 10px;
    margin: 20px 0px;
    overflow: hidden;
    background: #fafafa;
    box-shadow: 0px 3px 3px 0px #0005;
}

.search-input {
    width: 100%;
    margin-bottom: 10px;
}

.search-button {
    float: right;
}