.nav-link {
    padding: 10px;
    text-decoration: none;
    color: #00f;
}

.active {
    font-weight: bold;
    /* color: #f00; */
}

.logo {
    font-weight: bold;
    font-size: 18px;
    padding-right: 10px;
}

.nav-bar {
    border-bottom: 1px solid #000;
    height: 60px;
    line-height: 60px;
    padding: 0px 10px 0px 10px;
    background: #fafafa;
}